.container div{
display: none;
}

.container :target{
display: block;
}

div img, div a img {
    width: 250px;
    height: 250px;
    cursor: pointer;
}
.des {
    
    width: 100%;
    
    
}
.des button{
position: relative;
    left: 48%;
    top: 10px;
height: 100px;
width: 100px;
border-radius: 100%;
}
.container{
margin-top:40px;}
.container > div {
    position: relative;
    left: 100px;
    width: 100%;
}
body{
overflow-x: hidden;}
p.corres-letter {
    font-size: 50px;
    text-align: center;
}
.des-para{
text-align: center;
font-size: 20px;}
ul {
    width: 100%;
    display: inline-flex;
    margin: 10px;
    list-style-type: none;
    padding: 20px;
    background-color: cadetblue;
    color: white;
}
li {
    display: inline-block;
    margin-left: 10px;
    left: 44%;
    position: relative;
    text-align: center;
}

